body {
    font-family: "Poppins", system-ui;
    padding: 0;
    margin: 0;
}

header {
    background-color: #020074;
    padding: 10px 0;
    text-align: center;
    display: block;
}

.container-nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.cotainer-img {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 430px;
    object-fit: cover;
    position: relative;
}

.container-texto {
    width: 33%;
    position: absolute;
    top: 0;
    bottom: 80px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.container-texto p{
    color: white;
}

.contact-section h2 {
    color: white;
    font-size: 30px;
}

.mission-vision {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.box {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.box h3 {
    color: #0c146b;
    font-size: 22px;
    margin-bottom: 15px;
}

.box p {
    font-size: 16px;
} 

footer {
    background-color: #020074;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-info {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-info h4 {
    color: #020074;
    margin-bottom: 30px;
    font-size: 25px;
    width: 250px;
    text-align: center;
}
.footer-info p{
    width: 250px;
    text-align: center;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 45px;
    height: 45px;
}

footer p {
    margin: 10px 0;
}